<div class="content d-flex flex-column align-items-center">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div *ngFor="let item of comics" class="mr-4 ml-4">
      <app-comic-card [comic]="item"></app-comic-card>
    </div>
  </div>
  <div>
    <button class="load-more mb-3" (click)="loadMoreComics()" [disabled]="disableLoadButton()">Load more</button>
  </div>
</div>

<div class="modal fade" id="comic-dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div *ngIf="comicService.loadModal">
          <!-- <app-comic-dialog></app-comic-dialog> -->
          <google-map></google-map>
        </div>
      </div>
    </div>
  </div>
</div>