
.load-more{
    background-color: transparent;
    border: none;
    border-bottom: black 1px solid;
    font-weight: 600;
    font-size: larger;
}

.load-more:hover{
    background-color: transparent;
        border: none;
        border-bottom: red 1px solid;
        color: red;
        font-weight: 600;
        font-size: larger;
}
.map {
    max-width: 100%;
    height: 500px;
}