<div class="content d-flex flex-column align-items-center">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div *ngFor="let item of comics" class="mr-4 ml-4">
      <app-comic-card [comic]="item"></app-comic-card>
    </div>
  </div>
  <div>
    <button
      class="load-more mb-3"
      (click)="loadMoreComics()"
      [disabled]="disableLoadButton()"
    >
      Load more
    </button>
  </div>
</div>

<div class="modal fade" id="map-dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecione o local para envio da HQ</h5>
        <div class="d-flex flex-row justify-content-end">
          <button class="close-button" data-bs-dismiss="modal">
            <i class="bi bi-x"></i>
          </button>
        </div>
      </div>
      <div class="modal-body d-flex flex-column">
        <div class="map" id="map"></div>
        <div  class="d-flex justify-content-end confirm-button mt-4" data-bs-dismiss="modal"><button class="btn btn-dark"> Confirmar Localização</button></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="comic-dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div *ngIf="comicService.loadModal">
        <app-comic-dialog></app-comic-dialog>
      </div>
    </div>
  </div>
</div>
