.thumb img{
    width: 240px;
    height: 300px;
}

.div-title{
    height: 80px;
}
.title{
    font-weight: 500;
    font-size: medium;
    overflow-y: hidden;
}

.creators{
    font-weight: 500;
    font-size: small;
   
}

.comic-button{
    width: 250px;
    height: 450px;
    border: none;
    background-color: transparent;
    text-align: start;
    overflow-y:hidden;

}

.comic-button img{
    box-shadow:10px 10px 5px lightgray;

}

.comic-button:hover {
    width: 250px;
    height: 450px;
    border: none;
    background-color: transparent;
    text-align: start;
    overflow-y: hidden;
    color: red;
}

.modal-con{
    
}

.modal-img{
    width: 300px;
    height: 400px;
    
}