.thumb img{
    width: 240px;
    height: 300px;
}

.div-title{
    height: 80px;
}
.title{
    font-weight: 500;
    font-size: medium;
    overflow-y: hidden;
}

.creators{
    font-weight: 500;
    font-size: small;
   
}

.comic-button{
    border: none;
    background-color: transparent;text-align: start;
}

.content{
    width: 250px;
    height: 450px;
    overflow-y: hidden;
    
}

.comic-button img{
    box-shadow:10px 10px 5px lightgray;
    text-align: start;
}

.comic-button:hover {
    border: none;
    background-color: transparent;
    color: red;
}



.modal-img{
    width: 300px;
    height: 400px;
}

.map-button{
    position: absolute;
    width: 240px;
    opacity: 80%; 
}

.map-button button{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    z-index: 2;
    background-color: lightgray;
}