<button class="comic-button" >
  <div class="d-flex flex-column thumb">
    <img class="comic-img" src="{{ comic.thumbnail }}" alt="" />
    <div class="div-title d-flex flex-column">
      <span class="title mt-3">{{ comic.title }}</span>
      <span class="creators">{{ returnCreatorsNames() }}</span>
    </div>
  </div>
</button>

<div class="modal fade" id="pokemon-dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <app-comic-dialog></app-comic-dialog>
      </div>
    </div>
  </div>
</div>
